[submodule "cppNBT"]
	path = cppNBT
	url = git@github.com:scottrick/cppNBT.git
[submodule "opengl"]
	path = opengl
	url = https://github.com/scottrick/opengl.git
[submodule "scottbase"]
	path = scottbase
	url = https://github.com/scottrick/scottbase.git
